/*-----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------------
    BUTTONS
------------------*/
button {
    border: none;
}

.btn {
    border-radius: 5px;
    padding: 6px;
    background-color: #0a0b0b;
    color: #fff;
}
.btn i {
    font-size: 18px;
    vertical-align: middle;
    margin: 0 5px;
}

.btn.btn-color-green {
    color: #67d669;
}
.btn.btn-blue {
    background-color: #3370e5;
}
.btn.btn-red {
    background-color: #a8352e;
}

/*-----------------
    COMMONS
------------------*/
body {
    background-color: #111111;
    color: #fff;
}

/*-----------------
    HEADER
------------------*/
header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 40px;
}

/*-----------------
    MAIN
------------------*/
main {
    height: calc(100vh - 140px);
    overflow-y: auto;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.person {
    position: relative;
    width: calc(100% / 6 - 10px);
    /* height: 200px; */
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.person::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
.person-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://i.picsum.photos/id/417/536/354.jpg?hmac=Matsrj1iHedTOJ1uSvFWYRPrdtI6xSFcv9slnup-NQo');
    background-size: cover;
    background-position: center;
}
.person-name {
    background-color: rgba(0,0,0,0.7);
    padding: 4px 8px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
}
.person-actions {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}
.person:hover .person-actions {
    opacity: 1;
}

/*-----------------
    FOOTER
------------------*/
footer {
    height: 100px;
    background-color: #1b1b1b;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.footer-left, .footer-right {
    width: 25%;
}
.footer-center {
    width: 50%;
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-btn {
    position: relative;
    background: none;
    color: #a8a8a8;
    margin-right: 15px;
    min-width: 60px;
}
.footer-btn i {
    font-size: 24px;
}

.footer-btn::before {
    content: "\f077";
    display: block;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 12px;
}